@import './reset.scss';

$layout_bp_mobile: 320px;
$layout_bp_tablet: 800px;
$layout_bp_desktop: 1280px;

//SCSS Mixins
@mixin tablet {
    @media only screen and (min-width: #{$layout_bp_tablet}){
        @content;
    }
}
@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}){
        @content;
    }
}

header{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./assets/bmw-background.jpg");
    background-position: center;
    background-size: cover;
    border: 2px solid green;

    nav{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid green;
        
        .left{
            padding: 10px 0;
            border: 2px solid green;

            ul{
                display: flex;
                gap: 16px;

                li{
                    border: 1px solid red;
                }
            }
        }
        .right{
            padding: 10px 0;
            border: 2px solid green;
            display: flex;
            align-items: center;
            gap: 16px;

            &:last-child{
                height: 40px;
            }
        }
    }

    
}

.header__content{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    color: white;
    font-weight: 700;

    a{
        padding: 16px;
        width: 140px;
        text-align: center;
        background-color: lightblue;
        color: black;
        font-weight: bold;
    }
}

main{
    padding: 80px 0 40px;

    .main__nav{
        ul{
            display: flex;
            list-style: none;
            gap: 20px;

            li{
                padding: 8px;
            }
        }
    }
}

.main__news{
    display: grid;
    gap: 40px;
    grid-template-areas: "a";
}

@include tablet{
    grid-template-areas: "a a";
}

@include desktop{
    grid-template-areas: "a a a a";
}
